.selectForm {
  min-width: 12vw !important;
}

.paper {
  padding: 10px;
}

.tabs {
  background-color: #c9c9c9;
}

#appBar {
  height: 8vh;
}

#appBarText {
  color: white;
  font-size: 3vw;
}

/* Media query so that the app doesn't look AWFUL on mobile */
@media only screen and (max-width: 800px) {
  .selectForm {
    min-width: 35vw !important;
  }
}